.reason {
    width: 26%;
    height: 144.52px;
    border-radius:2.93px;
    margin: 0 58px;
    margin-top: 40.22px;
    border: 1px solid #E0E3EB;
    text-align: left;
    .reason-img{
        margin-top: 15.86px;
        margin-left: 18.86px;
    }
    .reason-title{
        margin-top: 14.63px;
        margin-left: 14.63px;
        font-size: 14.63px;
        line-height:100%;
        color: #3D445C;
    }
    .reason-description{
        margin-top:13.17px ;
        margin-right: 13.17px;
        margin-left: 14.63px;
        font-size: 15px;
        line-height: 100%;
        max-width: 206.86px;
    }
}