.reputation {
  .repu-title {
    margin-top: 40px;
    text-align: center;
    font-style: bold;
    font-size: 36px;
    line-height: 100%;
  }
  .list-reasons {
    display: flex;
    margin: 0 10% 0 11%;
  }
}
