.sub-fill {
  margin-top: 2.4%;
  .sub-input {
    width: 34.3%;
    height: 29.63px;
    border-radius: 2.93px;
    border: 1px solid #e0e3eb;
  }
  .sub-btn {
    margin-left: 1%;
    width: 19%;
    height: 33px;
    border-radius: 2.93px;
    color: #fff;
    background-color: #f9995d;
    border: 1px solid #fff;
  }
}
