.right{
    width: 40%;
    padding-top: 125.86px;
    padding-right: 100.55px;
    padding-bottom: 129.88px;
    .right-title{
        font-size:60px;
        line-height:70px;
        line-height: 115%;
        color: #2947A9;
    }
    .right-content{
        padding-top:29.71px;
        font-size: 20px;
        line-height:110%;
        color: #525B7A;
        max-width: 270px;
    }
    .right-btn{
        margin-top: 49.03px;
        width: 128.78px;
        height: 38.42px;
        color: #fff;
        background-color: #2947A9;
        border:1px solid #2947A9;
    }
}