.logo{   
    margin-left: 6.2%;
     .logo-text{
        width: 81px;
        height:26px;
        padding-left: 10.21px; 
        margin-top: 26.1px;  
    }
    .logo-box{
        width:27.81px;
        height:34.76px;
        margin-top: 11.1px;
    }
}