.navbar{
    list-style: none;
    display: flex;
    font-size: 18px;
    line-height: 100%;
    margin-left: 36%;
    margin-top: 28px;
    .nav-item{
        margin:0 15px;
    }
    .item-contact {
        color: #F9995D;
    }

}