.project-list{
    width: 100%;
    height: 923.44px;
    display: flex;
    .left{
        width: 20%;
        .left-title{
            
            margin-top: 64.39px;
            margin-left: 81.95px;
            font-size: 36px;
            line-height:42px;
            line-height: 100%;
        }
        .left-list{
            display:flex;
            margin-left: 81.95px;
            .list-border{
                width: 2.93px;
                height: 20.49px;
                background-color: #2947A9;
                margin-right: 11.71px;
                margin-top: 29px;
            }
            .list-name{
                padding-top: 0.26;
                margin-top: 29.26px;
                font-size: 17.56px;
                color: #2947A9;
                line-height:100%;
                font-weight: bold;
            }
        }
        .list-item{
            &:hover{
                color: #2947A9;
                font-weight: 500;
            }
            margin-top: 14.12px;
            margin-left: 96.59px;
            font-size: 17.56px;
            line-height: 100%;
            color: #C2C7D6;
        }
    }
    .right{
        width: 80%;
        .right-list{
            width: 83%;
            display: flex;
            flex-wrap: wrap;
            margin-left: 17%;
            margin-top: 11.3%;
            .project{
                &:hover{
                    opacity: 0.5;
                }
                width: 35%;
                margin: 0 1%;
                .project-img{
                    width: 100%;
                }
                .project-content{
                    width: 100%;
                    background-color:#2947A9;
                    margin-top: -6px;
                    margin-bottom: 23.61px;
                    .project-name{
                        font-weight: 700;
                        font-size: 14.63px;
                        line-height: 100%;
                        color:#fff;
                        padding: 8.87px;
                    }
                    .project-date{
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 100%;
                        color:#fff;
                        padding-bottom: 11.71px;
                        padding-left: 8.87px;
                    }
                }
            }
        }
        .right-btn{
            .btn-item{
                width: 215.86px;
                height: 46.83px;
                background-color: #292E3D;
                color: #fff;
                margin-left: 18%;
                margin-right: 6.8%;
                margin-bottom:2% ;
            }
            .btn-back{
                &:hover{
                    opacity: 0.5;
                }
            }
            .btn-next{
                &:hover{
                    opacity: 0.5;
                }
            }
        }
    }
    

}