.user {
  margin-top: 61.1px;
  position: relative;
  .avt-user {
    width: 62%;
    margin-top: 54.15px;
    margin-left: 10%;
  }
  .use-description {
    position: absolute;
    width: 440px;
    height: 494px;
    top: 50%;
    transform: translateY(-50%);
    right: 81px;
    border-radius: 1.46px;
    background-color: #2947a9;
    .des-title {
      margin-top: 35.59px;
      margin-left: 29.27px;
      color: #fff;
    }
    .des-paragraph1 {
      margin-top: 26.81px;
      margin-left: 29.27px;
      font-size: 20px;
      color: #fff;
      max-width: 340px;
    }
    .des-paragraph2 {
      margin-top: 22.81px;
      margin-left: 29.27px;
      font-size: 20px;
      color: #fff;
      max-width: 345px;
    }
    .des-btn {
      margin-top: 43.62px;
      margin-left: 29.27px;
      height: 10%;
      width: 40%;
      border-radius: 4.39px;
      color: #2947a9;
      font-size: 13.17px;
      font-weight: 700;
      line-height: 100%;
      border: 1px solid #2947a9;
    }
  }
}
